body, html {
    margin: 0;
    padding: 0;
    background-image: url(joana-abreu-aFkzShngdaw-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}
header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: black;
    padding-bottom: 10px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    
}
#title{
    position: absolute;
    padding-left: 10%;
    float: left;
    
   
   
}
#title h1{
     font-family: 'Rock 3D', cursive;
    font-size: 40px;
    top: 2px;
    color: white;
    
}
#menu {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: bold;
    width:90px;
    background-color:whitesmoke;
    float:right;
    border-radius: 25px;
    margin-right: 190px;
    margin-top: 40px;
    color: white;
   
}

#navig {
    display: block;
    
}

#menu #navig a{
    text-decoration: none;
    color: black;
     border-radius: 25px;
    width: 90px;
    
}
#menu #navig a:hover {
    color: brown;
    
}


#title2 {
    margin: auto;
    width: 35%;
    height: 300px;
    text-align: center;
    position: relative;
    padding: 0;
    background-image: url(rectangle-ripped-9db569784941143327762f212b89bdfe.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
     display: flex;
    justify-content: center;
    align-items: center;
    
}
#center {
    position: absolute;
    text-align: center;
   
    
}
#center h1{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 50px;
}
#poem {
    margin: auto;
    width: 50%;
    height: 1200px;
    text-align: center;
    background-image: url(old-paper-transparent-background-12.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
      display: flex;
    justify-content: center;
    align-items: center;

}

#poem p{
    font-size: 35px;
    font-family: 'Special Elite', cursive;
    
}
#center2 h2{
    font-size: 35px;
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    
}

